#allBack{
    text-align: center;
    width: 100vw;
    height: 100vh;
}
input{
    width: 15%;
    margin: 20px;
}
#btn{
    color: whitesmoke;
    background-color: red;
    border: none;
    padding: 3px;
    border-radius: 5px;
    margin: 20px;
}